<launch>
    <arg name="mavros_map_frame" default="map"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="slam_map_frame" default="slam_map"/>
    <arg name="slam_pose_topic" default="/decco/pose"/>
    <arg name="goal_topic" default="/mavros/setpoint_position/local"/> <!-- for mavros without OA, use /mavros/setpoint_position/local. default is /goal.-->

    <!-- Which hardware to add to health report -->
    <arg name="do_mapir" default="true"/>
    <arg name="do_mapir_rgb" default="false"/>
    <arg name="do_attollo" default="true"/>
    <arg name="do_thermal_cam" default="false"/>
    <arg name="thermal_type" default="0"/>
    <arg name="lidar_type" default="4"/> <!-- 2 = Velodyne, 4 = Mid360-->
    <arg name="lidar_pitch" default="0.0"/>
    <arg name="lidar_x" default="0.0"/>
    <arg name="lidar_z" default="0.11"/>

    <arg name="enable_autonomy" default="false"/>
    <arg name="use_failsafes" default="false"/>
    <arg name="do_trail" default="false"/>
    
    <arg name="default_alt" default="2.0"/>
    <arg name="min_alt" default="2.0"/>
    <arg name="max_alt" default="10.0"/>
    <arg name="max_dist_to_polygon" default="500.0"/>
    <arg name="flightleg_area_acres" default="3.0"/> <!-- 1 acre = 4046 m2-->

    <!-- Health topics -->
    <arg name="path_planner_topic" default="/kd_pointcloud_accumulated"/>
    <arg name="costmap_topic" default="/costmap_node/costmap/costmap_updates"/>
    <arg name="lidar_topic" default="/livox/lidar"/>
    <arg name="attollo_topic" default="/attollo_cam/image_rect"/>
    <arg name="mapir_topic" default="/mapir_rgn/image_rect_color"/>
    <arg name="mapir_rgb_topic" default="/mapir_rgb/image_rect_color"/>
    <arg name="rosbag_topic" default="/record/heartbeat"/>
    <arg name="thermal_topic" default="/seek_thermal/image_rect_color"/>

     <!-- Record -->
    <arg name="do_slam" default="true"/>
    <arg name="do_record" default="true"/>
    <arg name="user" default="$(env USER)"/>
    <arg name="data_directory" default="/home/$(var user)/logs/ros_logs/"/>
    <arg name="record_config_file" default="$(find-pkg-share vehicle_launch)/config/r88_default.config"/>
    <arg name="save_pcd" default="false"/>

    <arg name="simulate" default="false"/>
    <arg name="offline" default="false"/>

    <node pkg="task_manager" exec="task_manager_node" namespace="task_manager" output="screen">
        <param name="do_slam" value="$(var do_slam)"/>
        <param name="enable_autonomy" value="$(var enable_autonomy)"/>
        <param name="use_failsafes" value="$(var use_failsafes)"/>
        <param name="goal_topic" value="$(var goal_topic)"/>
        <param name="do_record" value="$(var do_record)"/>
        <param name="data_directory" value="$(var data_directory)"/>
        <param name="record_config_file" value="$(var record_config_file)"/>
        <param name="mavros_map_frame" value="$(var mavros_map_frame)"/>
        <param name="base_frame" value="$(var base_frame)"/>
        <param name="slam_map_frame" value="$(var slam_map_frame)"/>
        <param name="path_planner_topic" value="$(var path_planner_topic)"/>
        <param name="slam_pose_topic" value="$(var slam_pose_topic)"/>
        <param name="costmap_topic" value="$(var costmap_topic)"/>
        <param name="lidar_topic" value="$(var lidar_topic)"/>
        <param name="mapir_topic" value="$(var mapir_topic)"/>
        <param name="mapir_rgb_topic" value="$(var mapir_rgb_topic)"/>
        <param name="attollo_topic" value="$(var attollo_topic)"/>
        <param name="thermal_topic" value="$(var thermal_topic)"/>
        <param name="rosbag_topic" value="$(var rosbag_topic)"/>
        <param name="default_alt" value="$(var default_alt)"/>
        <param name="min_alt" value="$(var min_alt)"/>
        <param name="max_alt" value="$(var max_alt)"/>
        <param name="max_dist_to_polygon" value="$(var max_dist_to_polygon)"/>
        <param name="flightleg_area_acres" value="$(var flightleg_area_acres)"/>
        <param name="do_trail" value="$(var do_trail)"/>
        <param name="simulate" value="$(var simulate)"/>
        <param name="offline" value="$(var offline)"/>
        <param name="save_pcd" value="$(var save_pcd)"/>
        
        <param name="estimated_drone_speed" value="2.0"/>
        <param name="battery_failsafe_safety_factor" value="2.0"/>
        <param name="do_mapir" value="$(var do_mapir)"/>
        <param name="do_mapir_rgb" value="$(var do_mapir_rgb)"/>
        <param name="do_attollo" value="$(var do_attollo)"/>
        <param name="do_thermal_cam" value="$(var do_thermal_cam)"/>
        <param name="lidar_type" value="$(var lidar_type)"/>
        <param name="lidar_pitch" value="$(var lidar_pitch)"/>
        <param name="lidar_x" value="$(var lidar_x)"/>
        <param name="lidar_z" value="$(var lidar_z)"/>

        <!-- Flight Controller Interface params -->
        <param name="estimated_current" value="20.0"/> 
        <param name="battery_size" value="5.21"/> 
        <param name="all_stream_rate" value="5.0"/>
        <param name="imu_rate" value="120.0"/>
        <param name="local_pos_rate" value="60.0"/>
    </node>
</launch>